.App {
  font-family: sans-serif;
}
:root {
  --color-bg-main: #070F2B;       
  --color-bg-section: #1B1A55;    
  --color-primary: #535C91;       
  --color-accent: #9290C3;  
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: var(--color-bg-main);
  color: var(--color-accent);
}

header, footer {

  padding: 20px;
  text-align: center;
  color: var(--color-accent);
}

section {
  padding: 40px;
  margin: 20px;
  border-radius: 10px;
}

h1, h2, h3 {
  color: white;
}

button,.contact-btn  {
  background-color: #FFE28A;
  color: #1B1A55;
  border: none;
  padding: 12px 24px;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s;
}

button:hover ,.contact-btn:hover{
  background-color: #E0DFFF;
  color: #070F2B;

}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
i {
  color: var(--color-accent);
  font-size: 20px;
  margin-right: 8px;
  transition: color 0.3s ease, transform 0.3s ease;
}

i:hover {
  color: var(--color-primary);
  transform: scale(1.2);
}
